.pixel-blast-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.pixel-blast-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}